#tb_btn_open {
    -fx-graphic: url('/icons/folder.png');
}

#tb_btn_new {
    -fx-graphic: url('/icons/page_white.png');
}

#tb_btn_save {
    -fx-graphic: url('/icons/disk.png');
}

#tb_btn_nextstep {
    -fx-graphic: url('/icons/control_play_blue.png');
}

#tb_btn_play {
    -fx-graphic: url('/icons/control_fastforward_blue.png');
}

#tb_btn_pause {
    -fx-graphic: url('/icons/control_pause_blue.png');
}

#tb_btn_navigate_left {
    -fx-graphic: url('/icons/arrow_left.png');
}

#tb_btn_navigate_right {
    -fx-graphic: url('/icons/arrow_right.png');
}

#tb_btn_navigate_up {
    -fx-graphic: url('/icons/arrow_up.png');
}

#tb_btn_navigate_down {
    -fx-graphic: url('/icons/arrow_down.png');
}

#btn_mirror_left_right {
    -fx-graphic: url('/icons/arrow-resize.png');
}

#btn_mirror_up_down {
    -fx-graphic: url('/icons/arrow-resize-090.png');
}